<div class="modal-header">
  <button ng-if="modal.dismissable" type="button" ng-click="resetTime();$dismiss()" class="close">&times;</button>
  <h4 ng-if="modal.title" ng-bind="modal.title" class="modal-title"></h4>
</div>
<div class="modal-body">
  <p>ID: {{time._id}}</p>
  <label class="label-wide">User:
    <select class="form-control" ng-model="time.userId" ng-options="user._id as user.name for user in users">
      <option value="">Select a User</option>
      <!-- <option value="user._id" ng-repeat="user in users">{{user.name}}</option> -->
    </select>
  </label>
  <label class="label-wide">Company:
    <select class="form-control" ng-model="time.clientId" ng-options="client._id as client.name for client in clients">
      <option value="">Select a Client</option>
      <!-- <option value="client._id" ng-repeat="client in clients">{{client.name}}</option> -->
    </select>
  </label>
  <label class="label-wide">Project:
    <select class="form-control" ng-model="time.projectId" ng-options="project._id as project.name for project in projects | filter:time.clientId">
      <option value="">Select a Project</option>
      <!-- <option value="project._id" ng-repeat="project in projects | filter:time.clientId as availableProjects">{{project.name}}</option> -->
    </select>
  </label>
  <label>Start Time:</label><br>
  <div class="col-xs-6">
    <span class="input-group">
      <input type="text" class="form-control" datepicker-popup="MM/dd/yyyy" ng-model="time.startTime" show-weeks="false" is-open="!!startDateOpen" close-text="Close">
      </input>
      <span class="input-group-btn">
        <a type="button" class="btn btn-default" ng-click="startDateOpen=!startDateOpen">
          <i class="glyphicon glyphicon-calendar"></i>
        </a>
      </span>
    </span>
  </div>
  <div class="col-xs-6">
    <timepicker ng-model="time.startTime" show-meridian="true" show-spinners="false"></timepicker>
  </div>
    <!-- <input class="form-control" type="datetime-local" ng-model="time.startTime"></input> -->
  <label>End Time:</label><br>
  <div class="col-xs-6">
    <span class="input-group">
      <input type="text" class="form-control" datepicker-popup="MM/dd/yyyy" ng-model="time.endTime" show-weeks="false" is-open="!!endDateOpen" close-text="Close">
      </input>
      <span class="input-group-btn">
        <a type="button" class="btn btn-default" ng-click="endDateOpen=!endDateOpen">
          <i class="glyphicon glyphicon-calendar"></i>
        </a>
      </span>
    </span>
  </div>
  <div class="col-xs-6">
    <timepicker ng-model="time.endTime" show-meridian="true" show-spinners="false"></timepicker>
  </div>
  <p style="text-align:center; font-size:3em">
    {{('0'+time.interval().getUTCHours()).slice(-2)}}
    :
    {{('0'+time.interval().getUTCMinutes()).slice(-2)}}
    <!-- <span class="btn-group-vertical" style="margin-bottom: 12px">
      <button class="btn btn-xs" style="height: 12px" ng-click="time.endTime.setTime(time.endTime.getTime()+1000)">
        <span class="caret caret-reversed" style="margin-bottom: 5px"></span>
      </button>
      <button class="btn btn-xs" style="height: 12px" ng-click="time.endTime.setTime(time.endTime.getTime()-1000)">
        <span class="caret" style="margin-bottom: 12px"></span>
      </button>
    </span> -->
  </p>
</div>
<div class="modal-footer">
  <button ng-repeat="button in modal.buttons" ng-class="button.classes" ng-disabled="button.disabled()" ng-click="button.click($event)" ng-bind="button.text" class="btn"></button>
</div>
