<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <h1>Administration</h1>
  <ul class="nav nav-tabs">
    <li role="presentation" ng-class="{active : activeTab === 'times'}" ng-click="activeTab = 'times'">
      <a href>Times</a>
    </li>
    <li role="presentation" ng-class="{active : activeTab === 'projects'}" ng-click="activeTab = 'projects'">
      <a href>Projects</a>
    </li>
    <li role="presentation" ng-class="{active : activeTab === 'users'}" ng-click="activeTab = 'users'">
      <a href>Users</a>
    </li>
    <li role="presentation" ng-class="{active : activeTab === 'clients'}" ng-click="activeTab = 'clients'">
      <a href>Clients</a>
    </li>
  </ul>
  <div ng-show="activeTab==='times'" class="animate-tab">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th ng-repeat="tH in timeTableHeadings">
            <span
            ng-class="{active : sortTimesBy === tH.name}"
            ng-click="setSortTimesBy(tH.name)">
              {{tH.formattedName}}
              <span ng-show="sortTimesBy === tH.name">
                <span ng-class="{'caret':true, 'caret-reversed':reverseTimeSort}"></span>
              </span>
            </span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-dblclick="editTimeModal(time, users, clients, projects, $event)" right-click="editTimeModal(time, users, clients, projects, $event);" ng-repeat="time in times | orderBy:sortTimesBy:reverseTimeSort" class="animate-show">
          <td>{{userById(time.userId)}}</td>
          <td>{{clientById(time.clientId)}}</td>
          <td>{{projectById(time.projectId)}}</td>
          <td>{{time.startTime.toLocaleString()}}</td>
          <td>{{time.endTime.toLocaleString()}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div ng-show="activeTab==='projects'" class="animate-tab">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-2 col-md-4 col-sm-4">
          <label>Client:
            <select class="form-control" ng-model="selectedClient"
            ng-options="client as client.name for client in clients"
            ng-change="populateProjectOptions()">
              <option value="">Select a client</option>
            </select>
          </label>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-4">
          <label>Project:
            <select class="form-control"
            ng-disabled="newProject || !selectedClient._id" ng-model="thisProject"
            ng-options="project as project.name for project in projectOptions">
              <option value="">Select a project</option>
            </select>
          </label>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-4">
          <label>New:<br/>
            <button class="btn btn-default btn-checkbox-mock" ng-click="newProjectClick()">
              <span ng-show="newProject" class="glyphicon glyphicon-ok"></span>
            </button>
          </label>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-4">
          <label>Name:
            <input type="text" class="form-control" ng-model="thisProject.name"></input>
          </label>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-4">
          <label>Note:
            <input type="text" class="form-control" ng-model="thisProject.note"></input>
          </label>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-4">
          <label>Rate:
            <div class="input-group curency">
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-usd"></span>
              </span>
              <input class="form-control" type="number" step="0.01" ng-model="thisProject.rate"></input>
            </div>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-xs-12">
          <div class="pull-right">
            <span style="margin-left:5px;">
              <button ng-show="newProject" ng-click="createProject()" class="btn btn-default">
                Create
              </button>
              <div class="btn-group" ng-show="!newProject">
                <button ng-click="confirmDeleteProject(thisProject.name)" class="btn btn-default">
                  Delete
                </button>
                <button ng-click="editProject()" class="btn btn-default">
                  Edit
                </button>
              </div>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div ng-show="activeTab==='users'" class="animate-tab">
    <p>
      The delete user and user index api routes are restricted to users with the
      'admin' role.
    </p>
    <accordion close-others="false">
      <user-edit user="user" users="users" clients="clients" alert-save="alertSave" alert-error="alertError" ng-repeat="user in users"></user-edit>
      <user-edit user="newUser" users="users" clients="clients" alert-save="alertSave" alert-error="alertError"></user-edit>
    </accordion>
  </div>
  <div ng-show="activeTab==='clients'" class="animate-tab">
    <p>Client</p>
    <accordion close-others="false">

        <client-edit client="client" clients="clients"   alert-save="alertSave" alert-error="alertError" ng-repeat="client in clients"></client-edit>

        <client-edit client="newClient" clients="clients"  alert-save="alertSave" alert-error="alertError"></client-edit>
    </accordion>
  </div>
  <div style="position:fixed;bottom:0px;left:0;z-index:10;">
    <div class="container">
      <div class="row" >
        <div class="col-md-5 col-xs-12">
          <alert class="animate-show" ng-repeat="alert in alerts" type="{{alert.type}}">
            <div>
              <span ng-if="alert.icon" ng-class="['glyphicon', 'glyphicon-' + alert.icon]"></span>
              {{alert.message}}
            </div>
            <pre ng-if="alert.err" ng-bind="alert.err"></pre>
          </alert>
        </div>
      </div>
    </div>
  </div>
</div>
