<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <h1>Administration</h1>
  <ul class="nav nav-tabs">
    <li role="presentation" ng-class="{active : activeTab === 'users'}" ng-click="activeTab = 'users'">
      <a href>Users</a>
    </li>
    <li role="presentation" ng-class="{active : activeTab === 'clients'}" ng-click="activeTab = 'clients'">
      <a href>Clients</a>
    </li>
    <li role="presentation" ng-class="{active : activeTab === 'projects'}" ng-click="activeTab = 'projects'">
      <a href>Projects</a>
    </li>
    <li role="presentation" ng-class="{active : activeTab === 'times'}" ng-click="activeTab = 'times'">
      <a href>Times</a>
    </li>
  </ul>
  <div ng-show="activeTab==='users'">
    <p>
      The delete user and user index api routes are restricted to users with the
      'admin' role.
    </p>
    <accordion close-others="false">
      <accordion-group ng-repeat="user in users" is-open="user.isOpen">
        <user-edit user="user" users="users"></user-edit>
      </accordion-group>
      <accordion-group is-open="newUser.isOpen">
        <user-edit user="newUser" users="users"></user-edit>
      </accordion-group>
    </accordion>
  </div>
  <div ng-show="activeTab==='clients'">
    <p>Client</p>
    <accordion close-others="false">
      <accordion-group is-open="client.isOpen" ng-repeat="client in clients" >

        <client-edit client="client" clients="clients"></client-edit>
      </accordion-group>
      <accordion-group is-open="newClient.isOpen">
        <accordion-heading ng-click="newClient.isOpen=!newClient.isOpen">
          <div>
            Create New Client
            <span class="label label-info pull-right">
              <span class="glyphicon glyphicon-plus"></span>
            </span>
          </div>
        </accordion-heading>
        <client-edit client="newClient" clients="clients"></client-edit>
      </accordion-group>
    </accordion>
  </div>
  <div ng-show="activeTab==='projects'">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2 col-xs-4">
          <label>Client:
            <select class="form-control" ng-model="selectedClient"
            ng-options="client as client.name for client in clients"
            ng-change="populateProjectOptions();console.log(selectedClient);">
              <option value="">Select a client</option>
            </select>
          </label>
        </div>
        <div class="col-md-2 col-xs-4">
          <label>Project:
            <select class="form-control"
            ng-disabled="newProject || !selectedClient._id" ng-model="thisProject"
            ng-options="project as project.name for project in projectOptions">
              <option value="">Select a project</option>
            </select>
          </label>
        </div>
        <div class="col-md-2 col-xs-4">
          <label>New:<br/>
            <button class="btn btn-default btn-checkbox-mock" ng-click="newProjectClick()">
              <span ng-show="newProject" class="glyphicon glyphicon-ok"></span>
            </button>
          </label>
        </div>
        <div class="col-md-2 col-xs-4">
          <label>Name:
            <input type="text" class="form-control" ng-model="thisProject.name"></input>
          </label>
        </div>
        <div class="col-md-2 col-xs-4">
          <label>Note:
            <input type="text" class="form-control" ng-model="thisProject.note"></input>
          </label>
        </div>
        <div class="col-md-2 col-xs-4">
          <label>Rate:
            <div class="input-group curency">
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-usd"></span>
              </span>
              <input class="form-control" type="number" step="0.01" ng-model="thisProject.rate"></input>
            </div>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-xs-12">
          <div class="pull-right">
            <span style="margin-left:5px;">
              <button ng-show="newProject" ng-click="createProject()" class="btn btn-default">
                Create
              </button>
              <div class="btn-group" ng-show="!newProject">
                <button ng-click="confirmDeleteProject(thisProject.name)" class="btn btn-default">
                  Delete
                </button>
                <button ng-click="editProject()" class="btn btn-default">
                  Edit
                </button>
              </div>
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-xs-12">
          <div class="alert alert-success animate-show" ng-show="thisProject.saved">
            <span class="glyphicon glyphicon-ok"></span>
            Save Successfull!
          </div>
          <div class="alert alert-danger animate-show" ng-show="thisProject.error">
            <span class="glyphicon glyphicon glyphicon-exclamation-sign"></span>
            An error occured!
          </div>
        </div>
      </div>
    </div>
  </div>
  <div ng-show="activeTab==='times'">
    <table class="table table-striped table-hover">
      <thead>
        <tr><th>Name</th><th>Client</th><th>Project</th><th>Start</th><th>End</th></tr>
      </thead>
      <tbody>
        <tr ng-repeat="time in times">
          <td>{{time.name}}</td>
          <td>{{time.client}}</td>
          <td>{{tiem.project}}</td>
          <td>{{time.startTime.toLocaleString()}}</td>
          <td>{{time.endTime.toLocaleString()}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
