<accordion-heading ng-click="user.isOpen=!user.isOpen">
  <div>
    {{newUser?'Create New User':user.name}}
    <span ng-class="['pull-right', 'label', newUser?'label-info':'label-'+labelClass(user.role)]">
      {{newUser?'':user.role}}
      <span ng-show="newUser" class="glyphicon glyphicon-plus"></span>
    </span>
  </div>
</accordion-heading>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 col-xs-5">
      <label>Name:
        <div class="input-group">
          <input class="form-control" type="text" ng-model="user.name"></input>
        </div>
      </label>
    </div>
    <div class="col-md-3 col-xs-5">
      <label>Email:
        <div class="input-group">
          <input class="form-control" type="text" ng-model="user.email"></input>
        </div>
      </label>
    </div>
    <div class="col-md-2 col-xs-2">
      <label>Role: <br>
        <span class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button"
          data-toggle="dropdown" aria-expanded="true">
            {{user.selectedRole || user.role}}
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li role="presentation" ng-repeat="role in allowedRoles">
              <a href ng-click="user.role=role" ng-class="{active : role===user.role}">{{role}}</a>
            </li>
          </ul>
        </span>
      </label>
    </div>
    <div class="col-md-3 col-xs-5" ng-show="newUser">
      <label>Password:
        <div class="input-group">
          <input class="form-control" type="password" ng-model="user.password"></input>
        </div>
      </label>
    </div>
    <div class="col-md-3 col-xs-5" ng-show="newUser">
      <label>Confirm password:
        <div class="input-group">
          <input class="form-control" type="password" ng-model="user.confirmPassword"></input>
        </div>
      </label>
    </div>
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <div class="btn-group pull-right" style="margin-top:19px">
          <button class="btn btn-small btn-default" ng-click="user.isOpen=false;newUser ? createUser() : editUser()">{{newUser?'Create':'Edit'}}</button>
          <button ng-show="!newUser" class="btn btn-small btn-danger" ng-click="confirmUserDelete(user.name);">Delete</button>
          <button class="btn btn-small btn-warning" ng-click="user.isOpen=false;resetUser()">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>
