.btn-checkbox-mock {
  width : 34px !important;
  height : 34px !important;
  padding : 6px;
}

.btn-checkbox-mock:hover,.btn-checkbox-mock:active,.btn-checkbox-mock:focus {
  background-color:#fff;
}

.input-group.curency {
  max-width : 222px;
}
